@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


:root {
    --cor-de-fundo-primaria: #FFFFFF;
    --cor-de-fundo-secundaria: #F1F4FF;
    --cor-de-fundo-terciaria: #F2F2F5;
    --cor-de-fundo-amarelo: #FCF6E6;

    --cor-botao_hover: #3343CA;

    --cor-primaria: #3D4ED7;
    --cor-secundaria: #010038;
    
    --cor-de-fundo-capa: #EFEFEF;
    --cor-divider-primaria: grey;

    --transicao-padrao: transform 0.3s ease-in, box-shadow 0.3s ease-in;
    --transform-padrao: translateY(-5px);

    --tamanho-tela-disponivel: 65%;
    --margem-padrao: 0px calc((100% - var(--tamanho-tela-disponivel)) / 2);
    
    
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-de-fundo-primaria);
    flex: 1;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.header__background__linha_azul {
    background-color: var(--cor-de-fundo-secundaria);
    height: 10px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: var(--margem-padrao);
    padding: 10px 0px;
}

.cabecalho__logo_icone, .login_btn_mobile {
    display: none;
}

.cabecalho__menu {
    justify-content: space-between;
    align-self: center;
}

.navbar-toggler {
    box-shadow: 0;
}

.nav-link {
    transition: color 0.4s ease; 
}

.apresentacao__conteudo__capa {
    display: flex;
    justify-content: center;
    background-color: var(--cor-de-fundo-capa);
}

.apresentacao__conteudo__capa_img {
    width: var(--tamanho-tela-disponivel);
}

.apresentacao__conteudo__motivos {
    margin: var(--margem-padrao);
    padding-top: 100px;
    padding-bottom: 100px;
}

.apresentacao__conteudo__texto_title, .apresentacao__conteudo__texto_title_underline {
    color: var(--cor-primaria);
    padding-top: 100px;
}

.apresentacao__conteudo_motivos_cards {
    background-color: #C5DFF8;
}

.apresentacao__conteudo__direitos {
    text-align: center;
    margin-top: 3.5rem;
}

.apresentacao__conteudo__divider {
    background-color: var(--cor-divider-primaria);
    height: 2px;
    opacity: 0.4;
    margin: var(--margem-padrao);
}

.apresentacao__contatos {
    margin: var(--margem-padrao);
}

.nossos_numeros {
    margin: var(--margem-padrao);
}

.cards_vantagens {
    margin: 0px 10%;
}

.cards_vantagens__card {
    background-color: var(--cor-de-fundo-amarelo);
    border: transparent;
    padding: 25px;
    width: 100%;
}

.card_reasons {
    cursor: pointer;
    transition: transform 0.4s ease-in, box-shadow 0.4s ease-in;
}

.card_reasons:hover {
    transform: translateX(0px) scale(1.085);
}

.card-title {
    color: var(--cor-primaria);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.formulario__input {
    width: 100%;
}

.banner_contato {
    background-color: var(--cor-de-fundo-terciaria);
    padding: 4% 17.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner__info__logo {
    display: flex;
    width: 40%;
    justify-content: right;
}

.banner__info__logo_img {
    width: 230px;
    height: 230px;
}

.banner__info__actions {
    width: 50%;
}

.banner__btn {
    border: 1px solid transparent;
    border-radius: 50px;
    padding-inline: 20px;
    text-decoration: none;
    background-color: var(--cor-primaria);
    transition: var(--transicao-padrao);
    width: 175px;
}

.banner__btn_white {
    border: 1px solid var(--cor-primaria);
    border-radius: 50px;
    padding-inline: 20px;
    text-decoration: none;
    background-color: var(--cor-de-fundo-primaria);
    transition: var(--transicao-padrao), background-color 0.4s ease;
    width: 175px;
    color: var(--cor-primaria);
}

.btn_dropdown{
    border: 1px solid transparent;
    border-radius: 50px;
    padding-inline: 20px;
    text-decoration: none;
    background-color: var(--cor-primaria);
    transition: var(--transicao-padrao);
    width: auto;
    color: var(--cor-de-fundo-primaria);
}

.banner__btn_title {
    margin: 0;
    padding: 13px 0px 13px 0px;
    color: var(--cor-de-fundo-capa);
    font-size: 15px;
}

.rodape {
    background-color: var(--cor-secundaria);
    color: #F1F4FF;
    text-align: center;
    bottom: auto;
}

.rodape__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--margem-padrao);
    padding-top: 120px;
    padding-bottom: 30px;
}

.rodape__info_title {
    text-align: start;
    padding-bottom: 20px;
}

.rodape__info__social_media_icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 40px;
}

.social_media_icon {
    border: 1px solid transparent;
    border: 50%;
}

.rodape__info_links {
    padding: 0px;
    list-style: none;
}

.rodape__info_links_link {
    text-transform: none;
    display: flex;
    margin-bottom: 20px;
}

.links_link_text, .social_media_icon{
    color: #EFEFEF;
    text-align: start;
    opacity: 75%;
    cursor: pointer;
    text-decoration: none;
}

.social_media_icon, .cabecalho__logo, .cabecalho__logo_icone, .dropdown_icon, .rodape__logo {
    transition: var(--transicao-padrao);
}

.fale-conosco__modal {
    background-color: var(--cor-de-fundo-primaria);
}

.cabecalho__logo:hover, .rodape__logo {
    transform: translateX(0px) scale(0.900);
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--cor-botao_hover);

}

.social_media_icon:hover {
    opacity: 100%;
    padding-bottom: 5px;
    transform: var(--transform-padrao);
}

.links_link_text:hover {
    opacity: 100%;
    text-decoration: underline;
}

.banner__btn:hover {
    background-color: var(--cor-botao_hover);
    transform: var(--transform-padrao);
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

.banner__btn_white:hover {
    background-color: var(--cor-botao_hover);
    color: var(--cor-de-fundo-primaria);
    transform: var(--transform-padrao);
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

.btn_dropdown:focus .dropdown_icon {
    transform: rotate(180deg);
}

.rodape__divider, .rodape__divider_mobile {
    background-color: var(--cor-primaria);
    height: 1px;
    margin: var(--margem-padrao);
}

.rodape__divider_mobile {
    display: none;
}

.rodape__texto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--margem-padrao);
    padding-top: 25px;
    opacity: 75%;
}

.reason:hover{
    .reason__title {
        color: blue;
    }
}

@media(max-width: 680px) {
    :root {
        --tamanho-tela-disponivel: 90%;
    }

    .cabecalho__logo {
        display: none;
    }

    .cabecalho__logo_icone {
        display: block;
    }
    
    .login_btn_mobile {
        display: block;
    }

    .btn_login_desktop {
        display: none;
    }

    .fale-conosco__modal {
        margin: var(--margem-padrao);
    }


    .fale-conosco__img {
        display: none;
    }

    .banner__info__actions {
        width: 100%;
        text-align: center;
    }

    .banner_contato {
        padding: 0px 0px 30px 0px;
        flex-direction: column;
        line-height: 150%;
        gap: 30px;
    }

    .banner__info__logo_img {
        width: 128px;
        height: 128px;
    }

    .rodape {
        text-align: start;
    }
    
    .rodape__info {
        flex-direction: column;
    }

    .rodape__divider_mobile {
        display: flex;
        margin: 0;
        margin-bottom: 32px;
    }

    .rodape__texto {
        font-size: 12px;
        padding-bottom: 25px;
        align-items: start;
        justify-content: start;
    }
}
