{% extends 'base.html' %}

{% block body %}
<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <div class="apresentacao__conteudo__texto">
            <h1>{% block title %} Entre em contato {% endblock %}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odit quibusdam hic exercitationem ut esse, quae consectetur facilis?</p>
        </div>

        <div class="apresentacao__conteudo__divider"></div>

        <form class="formulario" action="">
            <div class="formulario__email">
                <label for="email">Seu e-mail:</label><br>
                <input class="formulario__input" type="email" id="email" placeholder="seuemail@email.com">
            </div>

            <div class="formulario__assunto">
                <label for="assunto">Assunto:</label><br>
                <input class="formulario__input" type="text" id="assunto" placeholder="Assunto">
            </div>

            <div class="formulario__descricao">
                <label for="descricao">Descrição:</label><br>
                <textarea rows="2" cols="29" id="descricao" placeholder="Isso é uma descrição..."></textarea>
            </div>

            <div class="formulario__botao_enviar">
                <input type="submit" id="enviar">
            </div>

        </form>
    </section>
</main>
{% endblock %}