{% extends 'base.html' %}

{% block body %}
<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <div class="apresentacao__conteudo__capa">
            <img class="apresentacao__conteudo__capa_img" src="static/imagens/capa.png" alt="Tecnologia no seu aprendizado">
        </div>
        </div>

        <div class="apresentacao__conteudo__texto">
            <h1>{%block title %} Sobre a universidade {% endblock %}</h1>
            <p>Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Sequi odit quibusdam hic exercitationem ut esse, quae consectetur facilis? Et odit obcaecati impedit voluptates corrupti cupiditate sequi, sint incidunt tenetur neque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odit quibusdam hic exercitationem ut esse, quae consectetur facilis? Et odit obcaecati impedit voluptates corrupti cupiditate sequi, sint incidunt tenetur neque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odit quibusdam hic exercitationem ut esse, quae consectetur facilis? Et odit obcaecati impedit voluptates corrupti cupiditate sequi, sint incidunt tenetur neque.
            </p>
            <p>Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Sequi odit quibusdam hic exercitationem ut esse, quae consectetur facilis? Et odit obcaecati impedit voluptates corrupti cupiditate sequi, sint incidunt tenetur neque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odit quibusdam hic exercitationem ut esse, quae consectetur facilis? Et odit obcaecati impedit voluptates corrupti cupiditate sequi, sint incidunt tenetur neque.
            </p>

        </div>
        </section>
    </main>
{% endblock %}