<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES - Página não encontrada! </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404_not_found.css') }}">
</head>
<body>
    <main>
        <div class="background_azul">
            <div class="not_found_message">
                <div class="not_found_message__title">
                    <h1>404: Página não encontrada!</h1>
                </div>
                <div class="not_found_message__text">
                    <p>Parece que você está esperando por uma página que não existe...</p>
                </div>
            </div>

            <div class="return_homepage">
                <button class="return_homepage__button">
                    <a type="button" class="banner__btn" href="{{ url_for('contato.contato') }}">
                        <p class="banner__btn_title p-3">Voltar para home</p>
                    </a>
                </button>
            </div>
        </div>
        
    </main>
    
</body>
</html>
