<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.3.67/css/materialdesignicons.min.css">
    <link rel="icon" as="image" href="static/imagens/icone_logo.png" />
    {% block head %}{% endblock %}
</head>
<body>  
    <nav class="navbar bg-body-white">
        <div class="cabecalho container-fluid">
            <a href="{{ url_for('home.home') }}" class="cabecalho__logo">
                <img src="static/imagens/logo.png" alt="Logo da UNES" />
            </a>
            <div class="d-flex gap-5">
                <a class="nav-link" href="{{ url_for('home.home') }}">Home</a>
                <a class="nav-link" href="{{ url_for('quemsomos.quemsomos') }}">Quem somos</a>
                <a class="nav-link" href="{{ url_for('contato.contato') }}">Contato</a>
            </div>
        </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="height: 500px;">
          <div class="carousel-item active" style="height: 500px;">
            <img src="static/imagens/pingu.gif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fw-bolder">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi veniam fugit</h5>
              <p>Lorem ipsum dolor sit amet consectetur</p>
              <a type="button" class="banner__btn" href="{{ url_for('contato.contato') }}">
                <p class="banner__btn_title p-3">Entre em contato</p>
            </a>
            </div>
          </div>
          <div class="carousel-item" style="height: 500px;">
            <img src="static/imagens/pingu.gif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fw-bolder">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi veniam fugit</h5>
              <p>Lorem ipsum dolor sit amet consectetur</p>
              <a type="button" class="banner__btn" href="{{ url_for('contato.contato') }}">
                <p class="banner__btn_title p-3">Entre em contato</p>
            </a>
            </div>
          </div>
          <div class="carousel-item" style="height: 500px;">
            <img src="static/imagens/pingu.gif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fw-bolder">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi veniam fugit</h5>
              <p>Lorem ipsum dolor sit amet consectetur</p>
              <a type="button" class="banner__btn" href="{{ url_for('contato.contato') }}">
                <p class="banner__btn_title p-3">Entre em contato</p>
            </a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    {% block body %}{% endblock %}
    <div class="banner_contato">
        <div class="banner__info__logo">
            <img src="https://img.freepik.com/vetores-premium/formatura-do-aluno-no-conceito-academico-da-faculdade-em-ilustracao-de-desenho-animado_201904-803.jpg" alt="" width="230px" height="230px" class="rounded-circle">
        </div>

        <div class="banner__info__actions">
            <h4 class="text-break">Escolha educar-se, escolha o sucesso, escolha a UNES!</h4>
            <p class="text-break">Fale com um de nossos especialistas e garanta o seu futuro promissor. </p>
            <a type="button" class="banner__btn" href="{{ url_for('contato.contato') }}">
                <p class="banner__btn_title">Entre em contato</p>
            </a>
        </div>
    </div>
    
    <footer class="rodape">
        <div class="rodape__info">

            <div class="rodape__info__tile">
                <div class="rodape__info_title pb-5">
                    <img src="../static/imagens/icone_logo.png" alt="Ícone Logo da Unes" width="40px" height="40px">
                </div>
                <div class="rodape__info__social_media_icons">
                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-facebook"></i>
                    </a>

                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-instagram"></i>
                    </a>

                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-linkedin"></i>
                    </a>

                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-youtube"></i>
                    </a>
                </div>
                <p>2023 - Todos os direitos reservados</p>
            </div>
            
            
            <div class="rodape__info__tile">
                <div class="rodape__info_title">
                    <h5>Institucional</h5>
                </div>
                <ul class="rodape__info_links">
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Sobre nós</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Fale conosco</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Motivos para estudar</a>
                    </li>
                </ul>
            </div>

            <div class="rodape__info__tile">
                <div class="rodape__info_title">
                    <h5>Políticas</h5>
                </div>
                <ul class="rodape__info_links">
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Política de Privacidade</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Política de Cookies</a>
                    </li>
                </ul>
            </div>

            <div class="rodape__info__tile">
                <div class="rodape__info_title">
                    <h5>Atendimento</h5>
                </div>
                <ul class="rodape__info_links">
                    <li class="rodape__info_links_link">
                        <div class="d-block opacity-75">
                            <p class="m-0">Segunda a Sexta</p>
                            <div class="d-flex">
                                <i class="pe-1 mdi mdi-clock-outline"></i>
                                <p class="m-0">06h às 22h</p>
                            </div>
                        </div>

                    <li class="rodape__info_links_link">
                        <i class="pe-1 opacity-75 mdi mdi-whatsapp"></i>
                        <a class="links_link_text" href="#">(12) 98864-3928</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <i class="pe-1 opacity-75 mdi mdi-email-outline"></i>
                        <a class="links_link_text" href="#">falecom@unes.com.br</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <i class="pe-1 opacity-75 mdi mdi-email-outline"></i>
                        <a class="links_link_text" href="#">imprensa@unes.com.br</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rodape__divider"></div>
        <div class="rodape__texto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, in nostrum a dolores animi, ipsum sunt autem error, officiis optio blanditiis mollitia! Necessitatibus dolore fugiat quod, obcaecati minus eligendi. Minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
