<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.3.67/css/materialdesignicons.min.css">
    <link rel="icon" as="image" href="static/imagens/icone_logo.png" />
    {% block head %}{% endblock %}
</head>
<body>  
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="cabecalho container-fluid">
            <a href="{{ url_for('home.home') }}">
                <img src="static/imagens/logo.png" alt="Logo da UNES" class="cabecalho__logo"/>
                <img src="static/imagens/icone_logo.png" alt="Logo da UNES" class="cabecalho__logo_icone"/>
            </a>
            <div class="dropdown login_btn_mobile">
                <button class="btn_dropdown d-flex align-items-center text-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <p class="p-2 m-0">Login</p>
                  <i class="dropdown_icon mdi mdi-menu-down"></i>
                </button>
                <ul class="dropdown-menu text-start p-3 rounded-4">
                  <li><a class="nav-link p-2 fw-normal" href="#">Sou Aluno</a></li>
                  <li><a class="nav-link p-2 fw-normal" href="#">Sou Professor</a></li>
                </ul>
            </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav gap-3">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home.home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('quemsomos.quemsomos') }}">Quem somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contato.contato') }}">Contato</a>
              </li>
              <li class="nav-item btn_2_via d-flex">
                <a type="button" class="banner__btn_white w-100" href="{{ url_for('contato.contato') }}">
                    <p class="p-2 m-0 text-center">2ª via</p>
                </a>
              </li>
              <li class="nav-item btn_login_desktop">
                <div class="dropdown">
                    <button class="btn_dropdown d-flex align-items-center text-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <p class="p-2 m-0">Login</p>
                      <i class="dropdown_icon mdi mdi-menu-down"></i>
                    </button>
                    <ul class="dropdown-menu text-start p-3 rounded-4">
                      <li><a class="nav-link p-2 fw-normal" href="#">Sou Aluno</a></li>
                      <li><a class="nav-link p-2 fw-normal" href="#">Sou Professor</a></li>
                    </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
    <div id="carouselContact" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselContact" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselContact" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselContact" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/imagens/pingu.gif" class="pingu-img d-block w-100" alt="...">
            <div class="carousel-caption d-block">
                <h5 class="fw-bolder">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi veniam fugit</h5>
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <a type="button" class="banner__btn" href="{{ url_for('contato.contato') }}" data-bs-toggle="modal" data-bs-target="#modalFaleConosco">
                  <p class="banner__btn_title">Entre em contato</p>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/imagens/pingu.gif" class="pingu-img d-block w-100" alt="...">
            <div class="carousel-caption d-block">
              <h5 class="fw-bolder">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi veniam fugit</h5>
              <p>Lorem ipsum dolor sit amet consectetur</p>
              <a type="button" class="banner__btn" href="{{ url_for('contato.contato') }}" data-bs-toggle="modal" data-bs-target="#modalFaleConosco">
                <p class="banner__btn_title">Entre em contato</p>
            </a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/imagens/pingu.gif" class="pingu-img d-block w-100" alt="...">
            <div class="carousel-caption d-block">
              <h5 class="fw-bolder">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi veniam fugit</h5>
              <p>Lorem ipsum dolor sit amet consectetur</p>
              <a type="button" class="banner__btn" href="{{ url_for('contato.contato') }}" data-bs-toggle="modal" data-bs-target="#modalFaleConosco">
                <p class="banner__btn_title">Entre em contato</p>
              </a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselContact" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselContact" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="modal fade" id="modalFaleConosco" tabindex="-1" aria-labelledby="modalFaleConoscoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="fale-conosco__modal row rounded-3 p-5 shadow-lg">
              <div class="row justify-content-end p-0">
                  <div class="col-1 text-end p-0">
                      <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#modalFaleConosco" data-bs-whatever="">
                          <i class="mdi mdi-close-circle-outline"></i>
                      </button>
                  </div>
              </div>
      
              <div class="fale-conosco__img col">
                  <img src="./static/imagens/pingu.gif" alt="" width="400px" height="100%" class="rounded-4">
              </div>
      
              <div class="col text-start">
                  <h1>Fale conosco</h1>
                  <form class="formulario" action="{{ url_for('contato.add') }}" method="POST">
                      <div class="formulario__email">
                        <label for="email">E-mail*</label><br>
                        <input class="formulario__input" type="email"id="email"name="email"placeholder="seuemail@email.com"required ></input>
                      </div>
          
                      <div class="formulario__assunto">
                        <label for="assunto">Assunto*</label><br>
                        <input class="formulario__input" type="text"id="assunto"name="assunto"placeholder="Assunto"required ></input>
                      </div>
          
                      <div class="formulario__descricao">
                        <label for="descricao">Descrição*</label><br>
                        <textarea class="formulario__input" rows="2"cols="32"name="descricao"id="descricao"placeholder="Isso é uma descrição..."required ></textarea>
                      </div>
          
                      <div class="formulario__botao_enviar">
                          <button type="submit" class="banner__btn">
                              <p class="banner__btn_title">Entre em contato</p>
                          </button>
                          <p class="pt-3 fs-6 fw-normal text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis exercitationem, voluptate corrupti quaerat similique odio animi.</p>
                      </div>
          
                  </form>
              </div>
              
            </div>
          </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <div class="banner_contato">
        <div class="banner__info__logo">
            <img src="static/imagens/pingu.gif" alt="" class="rounded-circle banner__info__logo_img">
        </div>

        <div class="banner__info__actions">
            <h4>Escolha educar-se, escolha o sucesso, escolha a UNES!</h4>
            <p class="fw-normal">Fale com um de nossos especialistas e garanta o seu futuro promissor. </p>
            <a type="button" class="banner__btn" href="{{ url_for('contato.contato') }}" data-bs-toggle="modal" data-bs-target="#modalFaleConosco">
                <p class="banner__btn_title">Entre em contato</p>
            </a>
        </div>
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="static/imagens/logo.png" class="rounded me-2" alt="Logo da UNES">
          <strong class="me-auto">UNES</strong>
          <small>Assistente</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Fale com um de nossos especialistas.
        </div>
    </div>
    
    <footer class="rodape">
        <div class="rodape__info">

            <div class="rodape__info__tile">
                <div class="rodape__info_title pb-5">
                    <img src="../static/imagens/logo.png" alt="Ícone Logo da Unes">
                </div>
                <div class="rodape__info__social_media_icons">
                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-facebook"></i>
                    </a>

                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-instagram"></i>
                    </a>

                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-linkedin"></i>
                    </a>

                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-youtube"></i>
                    </a>
                </div>
                <p class="rodape__texto m-0">2023 - Todos os direitos reservados</p>
            </div>

            <div class="rodape__divider_mobile"></div>
            
            <div class="rodape__info__tile">
                <div class="rodape__info_title">
                    <h5>Institucional</h5>
                </div>
                <ul class="rodape__info_links">
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Sobre nós</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Fale conosco</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Motivos para estudar</a>
                    </li>
                </ul>
            </div>

            <div class="rodape__divider_mobile"></div>

            <div class="rodape__info__tile">
                <div class="rodape__info_title">
                    <h5>Políticas</h5>
                </div>
                <ul class="rodape__info_links">
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Política de Privacidade</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Política de Cookies</a>
                    </li>
                </ul>
            </div>

            <div class="rodape__divider_mobile"></div>

            <div class="rodape__info__tile">
                <div class="rodape__info_title">
                    <h5>Atendimento</h5>
                </div>
                <ul class="rodape__info_links">
                    <li class="rodape__info_links_link">
                        <div class="d-block opacity-75">
                            <p class="m-0">Segunda a Sexta</p>
                            <div class="d-flex">
                                <i class="pe-1 mdi mdi-clock-outline"></i>
                                <p class="m-0">06h às 22h</p>
                            </div>
                        </div>

                    <li class="rodape__info_links_link">
                        <i class="pe-1 opacity-75 mdi mdi-whatsapp"></i>
                        <a class="links_link_text" href="#">(12) 98864-3928</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <i class="pe-1 opacity-75 mdi mdi-email-outline"></i>
                        <a class="links_link_text" href="#">falecom@unes.com.br</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <i class="pe-1 opacity-75 mdi mdi-email-outline"></i>
                        <a class="links_link_text" href="#">imprensa@unes.com.br</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rodape__divider"></div>
        <div class="rodape__texto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, in nostrum a dolores animi, ipsum sunt autem error, officiis optio blanditiis mollitia! Necessitatibus dolore fugiat quod, obcaecati minus eligendi. Minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
