<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.3.67/css/materialdesignicons.min.css">
    <link rel="icon" as="image" href="static/imagens/icone_logo.png" />
    {% block head %}{% endblock %}
</head>
<body>  
    <nav class="navbar navbar-expand-lg bg-body-white ">
        <div class="cabecalho container">
            <a href="{{ url_for('home.home') }}" class="cabecalho__logo">
                <img src="static/imagens/logo.png" alt="Logo da UNES" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home.home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('quemsomos.quemsomos') }}">Quem somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contato.contato') }}">Contato</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
    <div class="banner_contato">
        <div class="banner__info__logo">
            <img src="https://img.freepik.com/vetores-premium/formatura-do-aluno-no-conceito-academico-da-faculdade-em-ilustracao-de-desenho-animado_201904-803.jpg" alt="" width="230px" height="230px" class="rounded-circle">
        </div>

        <div class="banner__info__actions">
            <h4 class="text-break">Escolha educar-se, escolha o sucesso, escolha a UNES!</h4>
            <p class="text-break">Fale com um de nossos especialistas e garanta o seu futuro promissor. </p>
            <a type="button" class="banner__btn" href="{{ url_for('contato.contato') }}">
                <p class="banner__btn_title">Entre em contato</p>
            </a>
        </div>
    </div>
    
    <footer class="rodape">
        <div class="rodape__info">

            <div class="rodape__info__tile">
                <div class="rodape__info_title pb-5">
                    <img src="../static/imagens/icone_logo.png" alt="Ícone Logo da Unes" width="40px" height="40px">
                </div>
                <div class="rodape__info__social_media_icons">
                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-facebook"></i>
                    </a>

                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-instagram"></i>
                    </a>

                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-linkedin"></i>
                    </a>

                    <a class="social_media_icon border-1 border-white rounded-circle px-2 py-1" href="#">
                        <i class="mdi mdi-youtube"></i>
                    </a>
                </div>
                <p>2023 - Todos os direitos reservados</p>
            </div>
            
            
            <div class="rodape__info__tile">
                <div class="rodape__info_title">
                    <h5>Institucional</h5>
                </div>
                <ul class="rodape__info_links">
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Sobre nós</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Fale conosco</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Motivos para estudar</a>
                    </li>
                </ul>
            </div>

            <div class="rodape__info__tile">
                <div class="rodape__info_title">
                    <h5>Políticas</h5>
                </div>
                <ul class="rodape__info_links">
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Política de Privacidade</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <a class="links_link_text" href="#">Política de Cookies</a>
                    </li>
                </ul>
            </div>

            <div class="rodape__info__tile">
                <div class="rodape__info_title">
                    <h5>Atendimento</h5>
                </div>
                <ul class="rodape__info_links">
                    <li class="rodape__info_links_link">
                        <div class="d-block opacity-75">
                            <p class="m-0">Segunda a Sexta</p>
                            <div class="d-flex">
                                <i class="pe-1 mdi mdi-clock-outline"></i>
                                <p class="m-0">06h às 22h</p>
                            </div>
                        </div>

                    <li class="rodape__info_links_link">
                        <i class="pe-1 opacity-75 mdi mdi-whatsapp"></i>
                        <a class="links_link_text" href="#">(12) 98864-3928</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <i class="pe-1 opacity-75 mdi mdi-email-outline"></i>
                        <a class="links_link_text" href="#">falecom@unes.com.br</a>
                    </li>
                    <li class="rodape__info_links_link">
                        <i class="pe-1 opacity-75 mdi mdi-email-outline"></i>
                        <a class="links_link_text" href="#">imprensa@unes.com.br</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rodape__divider"></div>
        <div class="rodape__texto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, in nostrum a dolores animi, ipsum sunt autem error, officiis optio blanditiis mollitia! Necessitatibus dolore fugiat quod, obcaecati minus eligendi. Minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
<footer class="rodape">
    <h3>Todos os direitos reservados</h3>
</footer>
</html>
