{% extends 'base.html' %}

{% block title %}Sobre a universidade{% endblock %}

{% block body %}
<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <div class="apresentacao__conteudo__capa">
            <img class="apresentacao__conteudo__capa_img" src="static/imagens/capa.png" alt="Tecnologia no seu aprendizado">
        </div>

        <div class="apresentacao__conteudo__texto">
            {{ about_university | safe }}
        </div>
        </section>
    </main>
{% endblock %}