{% extends 'base.html' %}

{% block title %}Quem somos{% endblock %}

{% block body %}
<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <div class="apresentacao__conteudo__texto">
            {{ about_us | safe }}
        </div>

        <div class="apresentacao__conteudo__motivos">
            <div class="container text-center">
                <div class="row">
                    <div class="col m-5">
                        <h2 class=""><u><strong>Motivos para estudar</strong></u></h2>
                    </div>
                </div>
                <div class="row justify-content-evenly">
                    {% for reason in reasons %}
                    <div class="reason col-sm-4 m-0">
                        <div class="reason__title">
                            <i class="reason_icon {{ reason.get('icon') }}"></i>
                            <h3>{{ reason.get('title') }}</h3>
                        </div>
                        <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto atque reiciendis fugit ad nobis aut distinctio natus omnis molestiae, vitae ipsam</p>
                        <!-- <p>{{ reason.get('text') }}</p> -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="apresentacao__conteudo__divider"></div>

        <div class="apresentacao__conteudo__texto">
            {{ objectives | safe }}
        </div>
    </section>
</main>
{% endblock %}
