{% extends 'base.html' %}

{% block title %}Quem somos{% endblock %}

{% block body %}
<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <div class="apresentacao__conteudo__texto">
            {{ about_us | safe }}
        </div>

        <div class="apresentacao__conteudo__motivos">
            <h1>{{ qty_reasons }} motivos para estudar</h1>
            <div class="accordion accordion-flush" id="motivos_para_estudar">
                {% for reason in reasons %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ reason.get('title')[0] }}" aria-expanded="false" aria-controls="flush-collapse{{ reason.get('title')[0] }}">
                        {{ reason.get('title') }}
                      </button>
                    </h2>
                    <div id="flush-collapse{{ reason.get('title')[0] }}" class="accordion-collapse collapse" data-bs-parent="#motivos_para_estudar">
                      <div class="accordion-body"> {{ reason.get('text') }} </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="apresentacao__conteudo__divider"></div>

        <div class="apresentacao__conteudo__texto">
            {{ objectives | safe }}
        </div>
    </section>
</main>
{% endblock %}
