{% extends 'base.html' %}

{% block title %}Quem somos{% endblock %}

{% block body %}
<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <div class="apresentacao__conteudo__texto">
            {{ about_us | safe }}
        </div>

        <div class="apresentacao__conteudo">
            <div class="apresentacao__conteudo_motivos container text-center">
                <div class="row">
                    <div class="col m-5">
                        <h2 class="apresentacao__conteudo__texto_title">Motivos para estudar</h2>
                    </div>
                </div>
                <div class="apresentacao__conteudo_motivos_cards row justify-content-evenly px-4 py-5 rounded-3 shadow-sm">
                    {% for reason in reasons %}
                    <div class="card border-0 rounded-2 bg-white shadow" style="width: 18%;">
                        <div class="card-body">
                          <h5 class="card-title p-2">{{ reason.get('title')}}</h5>
                          <p class="card-text text-start">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati laboriosam aperiam harum mollitia, maxime.</p>
                          
                          <div class="d-flex justify-content-end pt-4 pb-1">
                            <a href="#" class="btn btn-outline-primary justify-content-end p-1 border-0">Saiba mais <i class="mdi mdi-arrow-right"></i></a>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="apresentacao__conteudo__texto">
            {{ objectives | safe }}
        </div>
    </section>
</main>
{% endblock %}
